:host {
  height: 100%;
  display: grid;
  grid-template-rows: auto minmax(100%, 100%);
}

header {
  padding: 1rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  line-height: initial;
}

main {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
